<h2>Details for {{project}}
    <span title="{{absoluteTime}}">{{relativeTime}}</span>
</h2>
<p>
    There are {{urlNumber}} unique URLs with a total of {{stats.count}} culprits on record.
    <br/> Please use the filter below to restrict the displayed culprits.
</p>
<p>
    <form class="aui">
        <div class="aui-group">

            <div class="aui-item">
                <strong>Filter: </strong>
                <label for="url" title="reverse domain name notation">URL</label>
                <input id="url" class="text medium-field" name="url" placeholder="%" type="text">

                <label for="standards">Standard</label>
                <select id="standards" multiple="">
                    {{#each stats.standards}}
                        <option value="{{this}}">
                            {{#if this}}{{this}}{{else}}best practice{{/if}}
                        </option>
                    {{/each}}
                </select>

                <aui-label for="level">Level</aui-label>
                <aui-select id="level" name="level" placeholder="Select a level">
                    {{#each stats.levels}}
                        <aui-option>{{this}}</aui-option>
                    {{/each}}
                </aui-select>

                <div class="aui-buttons">
                    <button original-title="Search" class="aui-button aui-button-subtle search-button" type="button">
                        <span class="aui-icon aui-icon-small aui-iconfont-search">Search</span>
                    </button>
                    <a class="cancel" href="#clear">Clear</a>
                </div>
            </div>
        </div>
    </form>
</p>
<div id="listSpinner"></div>
<p id="list">
</p>
